include index

    .card.mb-3
        .card-header
            i.fa.fa-table
            |  Work With Roles 
            a(class='btn btn-primary btn-space float-right' href="roles/add") Add
        .card-body
            .table-responsive
                table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                    thead
                        tr
                            th Name
                            th(class='d-none d-sm-table-cell') Created-at
                            th(class='d-none d-md-table-cell') Updated-at
                            th
                    tfoot
                        tr
                            th Name
                            th(class='d-none d-sm-table-cell') Created-at
                            th(class='d-none d-md-table-cell') Updated-at
                            th
                    
                    tbody#contentHolderRoles
                            each role in roles
                                tr
                                    td #{role.name}
                                    td(class='d-none d-sm-table-cell')
                                        span.dateToReformat #{role.created_at}
                                    td(class='d-none d-md-table-cell')
                                        span.dateToReformat #{role.updated_at.toLocaleDateString('en-US')}
                                    td
                                        a(class='btn btn-warning btn-space' href="roles/" + role._id) Edit
                                        button(type='button' class='btn btn-danger btn-space' onclick="handleDeleteRoleClick(this)" roleId=role._id) Delete
        //- .card-footer.small.text-muted
        //- | Updated yesterday at 11:59 PM

        //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script.
            $(document).ready(function(){
                $('.dateToReformat').each(function() {
                    let currentDate = reformatingDate($(this).text());
                    $(this).text(currentDate);
                    $(this).show();
                });
            });
        script(src='js/wwRoles.js')  