//- Catalogs
li.nav-item(data-toggle='tooltip', data-placement='right', title='Catalogs')
    a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseComponents', data-parent='#exampleAccordion')
        i.fa.fa-fw.fa-wrench
        span.nav-link-text
        | Catalogs
    ul#collapseComponents.sidenav-second-level.collapse
        li
            a(href='roles') Roles
        li
            a(href='users') Users