// Bootstrap core CSS
link(href='../frame/css/bootstrap.min.css', rel='stylesheet')
// Custom fonts for this template
link(href='../frame/css/font-awesome.min.css', rel='stylesheet', type='text/css')
